.auth-container {
  max-width: 400px;
  margin: 80px auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-container h2 {
  margin-bottom: 20px;
  color: #0f766e;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.auth-input, select {
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1rem;
}

.auth-button {
  background: #0f766e;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.auth-button:hover {
  background: #14b8a6;
}

.auth-switch span {
  color: #0f766e;
  cursor: pointer;
  text-decoration: underline;
}
.auth-message {
  text-align: center;
  color: red;
  margin-top: 10px;
}
